<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>

<% @books.each do |book| %>
<%= link_to book_path(book.id) do %>
<%= book.title %>
<% end %>
<%= book.user.name %>
<% end %>
<%= paginate @books %>